
.swiper-container {
    width:100%;
    height: 450px;
   
}
.swiper-button-next, .swiper-button-prev{
    color: white!important; 
}

.Swiper-image { 
    display:inline-block;
    width:100%;
    height:100%;
   }

p{
    font-size: 14px;
}
.Banner-content {
    width: 500px;
    text-align: left;
  
    color:white;

}
.Banner-wrapper {
    width: 1200px;
   padding-top:40px;
    margin:auto;
}

.Banner-content > h2 {
    font-size:16px;
    font-weight: bold;
}

.Home-content1 {
    width: 1200px;
    text-align: left;
    margin: auto;
    display:grid;
    
    grid-template-areas: "textcontent img"; 
}

.Image-container {
    background-image: url('../imgs/DP116958.jpg');
    background-repeat: no-repeat;
    background-position: 10% 40%;
    background-size:2000px;
    position:relative;
    width:100%;
    height: 450px;
    overflow:hidden
}

.Home-content2-wrapper {
    display:block;
    width: 1200px;
    margin:auto;
    margin-top:60px;


  
}

.Home-content2-text {
    display:block;
    width: 600px;
    height: 300px;
    /* margin-top:20px;
    margin-bottom:20px; */
    text-align: left;
    background-color: rgba(0, 0, 0, 0.479);
    color:white;
    border-radius: 4px;
    line-height: 1.5;
  
}
.Home-content2-text>h2{
    padding:20px;
    width: 550px;
    margin:auto;
    
}
.Home-content2-text>p{
    width: 550px;
    margin:auto;
}

.Home-content3 {
    display:block;
    width: 1200px;
    margin:20px auto 50px auto;

}

.Image {
    display:block;
    margin-top:50px;
    /* height: 400px; */
    width:400px;
    grid-area: img;
}


.Text-content{
    display:block;
    margin-top:50px;
    width:500px;
    grid-area: textcontent;
}
.Text-content > h2{
    margin:0;
}

.home-list{
    list-style-type: disc;
    display: inline-block;
    text-align: left;
    margin:auto;
    list-style-position:inside;
    padding-left:0;
}
.home-list>li {
    list-style-position:inside;
    margin:0;
    padding:0;
    font-weight: bold;
    font-size:14px;
}
#Contactus:hover, #Login:hover {
    background-color:rgba(255, 255, 255, 0.2);
}
/* #Learnmore:hover, #Contactus2:hover {
    background-color:rgba(255, 255, 255, 0.013);
} */
#Learnmore, #Contactus, #Login, #Contactus2 {
    display: block;
    color:white;
    font-weight: bold;
    text-align: center;
    border:none;
    background-color: rgb(148, 56, 56);
    height: 40px;
    width:130px;
    border-radius: 4px;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor:pointer;
}


#Login {
    background-color: rgb(239, 247, 255);
    color: rgb(148, 56, 56);;
    margin:20px;
    
  
}
#Contactus2 {
    display:block;
    margin:20px auto;
    
}
.three-col-para { 
    column-count: 3;
    column-gap: 14px;
    column-width: 100px;
}

.three-col-para>h2, h3 { 
    column-span:all;
}

.three-col-para>p{ 
   margin:0;
}

@media screen and (max-width: 500px) {
    .Home {
        width:100%;
    }
    .swiper-container{
        width:100%;
    }

    .Swiper-image {
        width:100%;
        background-size: cover !important;
        background-position: center center, center center !important;
        display:inline-block;
    }
    .Banner-wrapper {
        display:block;
        width:100%;
        height:100%;
    }
    .Banner-content {
        width:80%;
        margin:auto;   
    }
    #Contactus {
        width:100%;
    }
    .Home-content1, .Text-content{
        display:inline-block;
        width:100%;
        margin:auto;
    }
    .Image{
        display:block;
        margin:auto;
        margin-top:10vw;
        margin-bottom:10vw;
        width:80%;
        height:80%;
    }
    .Text-content> h2 {
        width:80%;
        display: block;
        margin:auto;
         
    }
    .Text-content>p, .home-list, #Learnmore{
        width:80%;
        margin:auto;
        display:block;
    }
    #Learnmore {
        margin-top: 10vw;
        margin-bottom:10vw;
    }
    .Image-container{
        width:100%;
        height:auto;
        background-size: cover;
        background-position: center center;
        display:inline-block;
    }
    .Home-content2-wrapper{
        width:100%;
        margin-top:10vw;
        margin-bottom:10vw;
    }
    .Home-content2-text{
        width:80%;
        height:auto;
        padding:3%;
        margin:auto;
    }
    .Home-content2-text>p {
        padding:0;
        width:90%;
        margin:auto;
        display:block;
    }
    .Home-content2-text>h2 {
        padding:0;
        width:90%;

        display:block;
    }
    #Login {
        width:80%;
        margin:auto;
        margin-top:1vw;
        display:block;
    }

    .Home-content3 {
        display:block;
        width:100%;
    }
    .three-col-para{
        width:80%;
        column-count:1;
        margin:auto;
        text-align: left;
    }
    #Contactus2 {
        width:80%;
    }
}